<html>
<head>
	<link href="prot.css" rel="stylesheet">
	<link href="print.css" rel="stylesheet" media="print">
</head>
<body>
<p id="title"><b>PROTOKÓ£ PRZEKAZANIA SPRZÊTU</b></p><br><br>
<table>
<tr><td class="ftfc"><b>Przekazuj¹cy:</b></td><td class="ftsc">Dzia³ informatyki GORDON</td></tr>
<tr><td class="ftfc"><b>Przyjmuj¹cy:</b></td><td class="ftsc">Oddzia³ Radom RD</td></tr>
<tr><td class="ftfc"><b>Przedmiot przekazania:</b></td><td class="ftsc">1x komputer Dell 780, s.Tag: 5SWZP4J</td></tr>
</table>
<p>Przyjmuj¹cy zapozna³ siê ze sprzêtem, stwierdza, ¿e jest kompletny i bez uszkodzeñ.</p>

<p>Przyjmuj¹cy zobowi¹zuje siê do dba³oœci o powierzony sprzêt, zobowi¹zuje siê przechowywaæ go i u¿ytkowaæ w sposób uniemo¿liwiaj¹cy jego utratê.</p>

<br><p>Zamoœæ 02-07-2018</p><br><br><br>

<table id="second">
<tr><td>Przekazuj¹cy</td><td class="stsc" id="przyjmujacy">Przyjmuj¹cy</td></tr>
<tr><td></td><td class="stsc">(proszê o czytelny podpis)</td></tr>
<tr><td></td><td><br><br><br><br><br><br></td></tr>
<tr><td colspan="1"><p>Uwagi:<br>......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br>
......................................................................................................................................................................<br></p></td></tr>
</table>
</body>
</html>
